<!DOCTYPE html>
<html>
    <head>
        <title>Pfeil-Schäring</title>
        <link rel="stylesheet" type="text/css" href="css/topnav.css">
        <link rel="stylesheet" type="text/css" href="css/upload.css">
    </head>
    <body style="background-color:#161616;">
        <div class="topnav">
            <a href="/">Pfeil-Schäring</a>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Registrieren</a>
            <a class="active" href="/uploads">Uploads</a>
            <a href="/sessionLoeschen"> Logout</a>
            <h1 style="color:rgba(255, 255, 255, 0.616)"> <%= message%></h1>
        </div> 
        
        <div class="centeruploads">
            <div class="title">
                <h1><%= message %> Uploads</h1>
            </div>
            <table border="1">
                <p style="color:red"><%= errorText %></p>
                <% for(var i = 0; i < uploads.length; i++) { %>
                    <tr>
                        <td>
                            <a href="<%= usr + uploads[i] %>"><%= uploads[i] %></a>
                        </td>
                        <td>
                            <form action="/delete/<%=uploads[i]%>" method="POST">
                                <button type="submit">Löschen</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>

    </body>
</html>
